<%- include('header') -%>
<div>
    <div class = "container">
        <div class="jumbotron jumbotron-fluid mb-0">
            <div class="container">
              <div class="row justify-content-center text-center">
                <div class="col-md-10 col-lg-6">
                  <h1 class="display-5">Hi! Im Marlou Pagarao</h1>
      
                  <p class="lead">This is a test of my knowledge and skills in web development. I am an aspiring web developer and looking for a job as a platform for my skills</p>
      
                  <p class="lead">
                    <a class="btn btn-dark btn-lg" href="mailto:marlpagarao@gmail.com" role="button">Contact Me</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        <h2>Projects</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card h-100">
                <img src="/images/discord.png" class="card-img-top" alt="discord"/>
                <div class="card-body">
                  <h5 class="card-title">Discord Bot</h5>
                  <p class="card-text">
                    Discord bot using Python
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="/images/tictactoe.png" class="card-img-top" alt="tictac"/>
                <div class="card-body">
                  <h5 class="card-title">Tic Tac Toe</h5>
                  <p class="card-text">Tic Tac Toe Web application using HTML, CSS and, Javascript</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="/images/toxic.png" class="card-img-top" alt="toxic"/>
                <div class="card-body">
                  <h5 class="card-title">Comment Toxicity Web Application</h5>
                  <p class="card-text">A web application that detects if a comment is toxic or not!</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="/images/jm2.png" class="card-img-top" alt="simple"/>
                <div class="card-body">
                  <h5 class="card-title">Simple Website</h5>
                  <p class="card-text">
                    A simple automotive website for our family business
                  </p>
                </div>
              </div>
            </div>
          </div>
    <form action="/logout?_method=DELETE" method="POST">
    <button type="submit" class="btn btn-dark">Log out</button>
      </form>
  </div>
 
  </div>
    <div class="bg-dark text-white">
        <footer class="text-center text-lg-start">
          <div class="container d-flex justify-content-center py-5">
            <button type="button" onclick=location.href="https://github.com/marlpagarao" class="btn btn-outline-dark btn-lg btn-floating mx-2"style="background-color: #b1a38e;">
              <i class="bi bi-github"></i>
            </button>
            <button type="button" onclick=location.href="https://www.linkedin.com/in/marlpagrao/" class="btn btn-outline-dark btn-lg btn-floating mx-2" style="background-color: #b1a38e;">
                <i class="bi bi-linkedin"></i>
            </button>
          </div>

    </div>


  